#container {
    width: 100%;
    /* font-family: 'Cardo'; */
}

h1,
h3 {
    text-align: center;
    color: rgba(59, 9, 68, 1);
}


#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 10%;
    padding: 5px;
}

img {
    width: 55%;
}

figure {
    text-align: center;
}

figcaption {
    color: rgba(26, 187, 156, 1);
    font-style: italic;
    font-size: .75em;
}

.link {
    float: right;
    margin-bottom: 20px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgba(26, 187, 156, 1);
    /*#1abb9c */
    text-decoration: underline;
}